<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyAddress</key>
	<string></string>
	<key>companyCountry</key>
	<string>France</string>
	<key>companyEmail</key>
	<string>chmox@isolement.net</string>
	<key>companyFax</key>
	<string></string>
	<key>companyName</key>
	<string></string>
	<key>companyPhone</key>
	<string></string>
	<key>companyWebSite</key>
	<string>http://chmox.sourceforge.net/</string>
	<key>fileBundleID</key>
	<string>net.sourceforge.Chmox</string>
	<key>fileCreator</key>
	<string>CHM </string>
	<key>fileReleaseDateD</key>
	<string>1</string>
	<key>fileReleaseDateM</key>
	<string>11</string>
	<key>fileReleaseDateY</key>
	<string>2004</string>
	<key>fileType</key>
	<string>APPL</string>
	<key>padVersion</key>
	<string>1</string>
	<key>productDescLong</key>
	<string>Chmox is a viewer for Microsoft Help "CHM" (a.k.a. Compiled HTML) files and ebooks. It's a open source, free, fast and efficient 100% native Cocoa application (uses WebKit)</string>
	<key>productDescShort</key>
	<string>Read your CHM documents natively on your Mac</string>
	<key>productDownloadURL</key>
	<array>
		<string>http://prdownloads.sourceforge.net/chmox/Chmox-0.4.dmg?download</string>
	</array>
	<key>productFileSize</key>
	<string>251 K</string>
	<key>productKeywords</key>
	<array>
		<string>chm</string>
		<string>compiled html</string>
		<string>reader</string>
		<string>viewer</string>
		<string>ebook</string>
	</array>
	<key>productLanguages</key>
	<array>
		<string></string>
	</array>
	<key>productLicense</key>
	<string>LGPL</string>
	<key>productName</key>
	<string>Chmox</string>
	<key>productOS</key>
	<array>
		<string></string>
	</array>
	<key>productPageURL</key>
	<string>http://chmox.sourceforge.net/</string>
	<key>productPrice</key>
	<string>0</string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>productRequirements</key>
	<string>10.3 or later</string>
	<key>productVersion</key>
	<string>0.4</string>
</dict>
</plist>
